<h3>Machine List</h3>
<div class="machine-display">
    <table class="main-table">
        <thead>
            <tr style="display:flex; justify-content:space-around">
                <th></th>
                <th>Machine Name</th>
            </tr>
        </thead>
        <tbody>
            <MachineList />
        </tbody>
    </table>
</div>
