
tr {
    border-bottom: 1px solid #ccc;
    width: 100px;
}
th, td {
    padding: 10px;
    font-size: 15px;
    text-align: center;
}
.machine-field {
    padding: 10px;
    background-color: #efefef;
    margin-bottom: 10px;
    cursor: pointer;
}
.arrow {
    cursor: pointer;
    text-align: center;
}
.asset-header {
    padding: 10px;
    font-size: 15px;
}
.main-table {
    border: 1px solid #ccc;
    width: 100%;
}
.nested-table {
    border-bottom: 1px solid #ccc;
    width: 100%;
}