@for (int i = 0; i < IndexBase.Machines.Count; i++)
{
    int currentIndex = i;

    <tr style="display:flex; justify-content:space-around" class="arrow" @onclick="() => IndexBase.ButtonClickHandler(currentIndex)">
        <td>
            <span>@((IndexBase.CheckIfButtonIsClicked[IndexBase.Machines[currentIndex]?.MachineName] == false) ? "➡️" : "⬇️")</span>
        </td>
        <td>@IndexBase.Machines[currentIndex].MachineName</td>
    </tr>
    @if (IndexBase.CheckIfButtonIsClicked[IndexBase.Machines[currentIndex]?.MachineName])
    {
        <DisplayAsset CurrentIndex="currentIndex" />
    }
}